
<div class="">
  <h2 class="">Stupid Coaching</h2>
  <div id=question>
    <p><%=@question%></p>
    <p>- You</p>
  </div>
  <div id=response>
    <p id=answer><%=@answer%></p>
    <p>- Your coach</p>
  </div>
  <p class="lead">
    <%= link_to 'Ask a new question', ask_path %>
  </p>
</div>
