
<form action="answer" data-turbo="false">
  <h2>Stupid Coaching</h2>
  <p>Ask your coach anything :</p>
  <div class="ask">
    <input type="text" name="question" class="" placeholder="What do you want to say ?">
    <button type="submit" class="" value="Ask!" type="button">Ask!</button>
  </div>
</form>
